<img class="img-preview" src="assets/title.jpeg"/>

<div class="buttons">
  <button mat-icon-button (click)="gallery.click()"><mat-icon>add_photo_alternate</mat-icon></button>
  <button mat-icon-button (click)="camera.click()"><mat-icon>add_a_photo</mat-icon></button>
  <input #gallery type="file" accept="image/*" id="file-input" (change)="onFileChanged($event)"hidden/>
  <input #camera type="file" accept="image/*" id="file-input" (change)="onFileChanged($event)" capture hidden/>
</div>

<div [hidden]="!showLoader" class="lds-facebook"><div></div><div></div><div></div></div>
<div #result [hidden]="showLoader">
  <div [hidden]="succes"><mat-icon class="succes">check_circle_outline</mat-icon>Yes, it's Alex !</div>
  <div [hidden]="!succes"><mat-icon class="fail">block</mat-icon>No, it's not Alex !</div>
</div>

<router-outlet></router-outlet>
